@import url('https://fonts.googleapis.com/css2?família=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?família=Josefin+Sans&família=Nanum+Gótico&display=swap');
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  input::-webkit-inner-spin-button,
   input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
   }

/* Color Theme Swatches in Hex */
.color-theme_3371524-1-hex { color: #315259; }
.color-theme_3371524-2-hex { color: #04D9B2; }
.color-theme_3371524-3-hex { color: #03A688; }
.color-theme_3371524-4-hex { color: #F2A2A2; }
.color-theme_3371524-5-hex { color: #F2F2F2; }

body, html {
    height: 100%;
    margin: 0;
}

body {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #315259;
    text-align: center;
    font-size: 30px;
}
header {
    display: block;
    align-items: center;
    justify-items: center;
}
header h1{
 font-size: 25px;
}

section {
    text-align: center;
}

.bimestres {
  text-align: center;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.notas { 
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
}
input {
    padding: 10px;
    width: 65%;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: larger;
    background-color: #04D9B2;
    color: #F2F2F2;
    cursor: pointer;
}

.circulo {
    width: 50px;
    height: 50px;
    background-color: #04D9B2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-size: 24px;
    font-weight: bold;
}
.number {
    z-index: 1;
}
.alert{
 position: relative;
 top:-70%;
 display: none;
 justify-content: center;
 align-items:center;
 width: 350px;
 height: 150px;
 background-color: gray;
 left:16%;
 border-radius: 10px;
 font-family: 'Nanum Gothic', sans-serif;
}
.alert p{ 
 position: relative;
 padding: 5px;
 margin: 2px;
 top: -5%;
}
.alert button{
 position: absolute;
 width: 45px;
 height: 30px;
 top: 56%;
 font-size: 14px;
 background-color: azure;
 color: #315259;
}
